.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.npmrc
**/*.map
**/*.ts
esbuild.js
.vscode-test.js
tsconfig.json
test-output.txt
.nvmrc
.github/**
.editorconfig
.eslintrc.json
